html,body {
    margin:0;
    padding:0
}

body {
    font: 100% arial, sans-serif;
    text-align: center;
    background-color: #F0F6F6;
}

h1 {

}

p {
    margin:0 10px 10px
}

a {
    padding:5px;
    text-decoration:none;
    color:#000000;
}
