html,body {
    margin:0;
    padding:0
}

body {
    font: 100% arial, sans-serif;
    text-align: left;
    background-color: #F0F6F6;
    padding-left: 20px;
}

h1 {

}

p {
    margin:0 10px 10px
}

a {
    padding:5px;
    color:#000000;
}
